
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
}

.chat-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}

.card {
    height: 500px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 15px !important;
}

.card-footer {
    border-top: 0 !important;
    border-radius: 0 0 15px 15px !important;
}

/* Message Area */
.msg_card_body {
    padding: 10px;
    overflow-y: auto;
}

/* Input and Send Button */
.type_msg {
    height: 60px !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    overflow-y: auto;
}

.send_btn {
    color: white !important;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 0 15px 15px 0 !important;
}

.msg_container_send, .msg_cotainer {
    padding: 10px;
    max-width: 80%;
    margin: 10px;
    border-radius: 25px;
    color: white;
}

.msg_container_send {
    align-self: flex-end;
    background-color: #58cc71;
}

.msg_cotainer {
    background-color: rgb(82, 172, 255);
}

.user-message, .bot-message {
    margin-bottom: 15px;
}

.user-message {
    text-align: right;
}

.bot-message {
    text-align: left;
}

.user_img, .img_cont {
    height: 50px;
    width: 50px;
}

.online_icon {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

#video {
    width: 200px; 
    height: 150px; 
    border: 2px solid #ccc; 
    object-fit: cover;  
}

#camera-container {
    margin-top: 20px;
    text-align: center;
}